@inject AppSetting setting
@inject Stratis.STOPlatform.Data.ApplicationDbContext db
@using Stratis.STOPlatform.Data.Docs;
@{
    var stoSetting = await db.Documents.GetAsync<STOSetting>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="@stoSetting.LogoSrc">
    <title>@stoSetting.Name | @ViewData["Title"]</title>
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }
    <environment include="Development">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link href="~/css/crypto-icons.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/theme-style.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/crypto-icons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/theme-style.css" asp-append-version="true" />
    </environment>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

</head>
<body>
    @RenderBody()
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
                integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0="
                crossorigin="anonymous"
                asp-fallback-src="~/lib/materialize/js/materialize.min.js"
                asp-fallback-test="window.M">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validate/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha256-zkVFxDCBA0K+Fl6QZDRpD0G+GQ+TfuGv7xXkIAM69h8=">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @if (IsSectionDefined("Scripts"))
    { @RenderSection("Scripts", required: false) }
</body>
</html>

